# Compilação
bin/
obj/

# IDE
.vs/
.vscode/

# Banco de dados (SQLite)
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# App settings sensíveis (opcional, mas recomendado)
appsettings.Development.json